{{template "header.html"}}
<body>
    <div class="max-w-md mx-auto ">
    <form action="/marks/store" method="post">
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
   
    <div class="flex justify-center">
        <div class="w-96">
          <div class="mb-4">
            {{range .SubList}}
            <label class="block text-gray-700 font-medium mb-2" for="subjectName" name="{{.ID}}">{{.Subject1}}</label>
            <input class="shadow appearance-none border border-gray-400 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="" type="number" name="Mark[{{.ID}}]" placeholder="marks" value="" />
          </div>
          {{end}}
        </div>
      </div>
      <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
    </form>
</div>
</body>
{{ template "footer.html"}}