<input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
    <div class="mb-4">
       
        
        {{if eq .StSubject.ID 0 }}
        <select class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="Class" id="" value="{{.StSubject.Class}}">
            
            <option value="">Select A Class<option>
                {{ range .ListClass}}
                    <option value="{{.ID }}">{{.ClassName}}</option>
                {{ end }}
        </select>
        {{end}}

        
        {{if gt .StSubject.ID 0 }}
        <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="class" {{if .StSubject.ID }} readonly="" {{end}} name="Class" value="{{.StSubject.Class}}">
        {{end}}
      </div>
  
  
    <div class="grid md:grid-cols-2 md:gap-6">
      <div class="relative z-0 w-full mb-6 group">
          <input type="text" name="Subject1" id="subject1" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " value="{{.StSubject.Subject1}}" />
          <label for="Subject1" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Subject 1</label>
      </div>
      </div>