{{template "header.html"}}
<body>
  <div class="flex justify-center">
    <a href="/student/create" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Create Student  
      </a>
      

      <form action="/student/list" method="get" class="space-x-4 ml-8">
        <input type="text" class="px-5 py-2 font-medium text-green-900 border border-b-4 border-r-4 border-green-600 rounded-lg shadow-lg " name="SearchTerm" id="term" value="{{ .SearchTerm}}">
        <input type="submit" value="Search">
      </form>
    

</div>

<table class="table-auto w-full text-left">
    <thead>
      <tr class="bg-gray-200">
        <th class="px-4 py-2 font-bold">ID</th>
        <th class="px-4 py-2 font-bold">First Name</th>
        <th class="px-4 py-2 font-bold">Last Name</th>
        <th class="px-4 py-2 font-bold">Class Name</th>
        <th class="px-4 py-2 font-bold">Roll</th>
        <th class="px-4 py-2 font-bold">Action</th>
      </tr>
    </thead>
    {{range.StStudent}}
    <tbody>
      <tr class="bg-white">
        <td class="border px-4 py-2">{{ .ID}}</td>
        <td class="border px-4 py-2">{{ .FirstName}}</td>
        <td class="border px-4 py-2">{{ .LastName}}</td>
        <td class="border px-4 py-2">{{ .StudentClass}}</td>
        <td class="border px-4 py-2">{{ .StudentRoll}}</td>
       
        <td class="border px-4 py-2">
          <a href="/student/{{.ID}}/edit">Edit</a>
          <a  class="text-red-600 hover:text-red-900" href="/student/{{.ID}}/delete">Delete</a>
          <a href="/marks/{{.ID}}/result">SowResult</a>
        </td>
      </tr>
    </tbody>
    {{end}}
  </table>
</body>

{{ template "footer.html"}}